:root {
    --blue: rgb(0, 140, 255);
    --purple: rgb(35, 0, 99);
    --dark-blue: rgb(0, 40, 58);
    --white: white;
    --grey: grey;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--blue), var(--purple));
    color: var(--white);
    font-weight: bolder;
    font-size: 2rem;
    height: 3.5rem;
}

main {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    
}

#city-search {
    /*border: solid black;*/
    width: 25%;
    height: 100%;
    margin: 1rem;
}

#input {
    width: 98%;
    line-height: 2rem;
    border-radius: 10px;
    margin: 5px;
}

#search-button {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    line-height: 2rem;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 1rem;
}

#search-button:hover {
    cursor: pointer;
}

#weather-section {
    border: solid black;
    width: 75;
    height: 100%;
    margin: 1rem;
}

#five-day-pull {
    display: flex;
    flex-direction: row;
}

#day-one {
    margin: 1rem;
}

#day-two {
    margin: 1rem;
}

#day-three {
    margin: 1rem;
}

#day-four {
    margin: 1rem;
}

#day-five {
    margin: 1rem;
}