:root {
    --blue: rgb(0, 140, 255);
    --purple: rgb(35, 0, 99);
    --dark-blue: rgb(0, 40, 58);
    --white: white;
    --grey: grey;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, var(--blue), var(--purple));
    color: var(--white);
    font-weight: bolder;
    font-size: 2rem;
    height: 3.5rem;
}

main {
    display: flex;
    flex-direction: row;
    margin-right: 10%;
    
}

#city-search {
    /*border: solid black;*/
    width: 25%;
    height: 100%;
    margin: 1rem;
}

#input {
    width: 98%;
    line-height: 2rem;
    border-radius: 10px;
    margin: 5px;
}

#search-button {
    width: 100%;
    background-color: var(--blue);
    color: var(--white);
    line-height: 2rem;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 1rem;
}

.recent-search-button {
    width: 100%;
    background-color: var(--grey);
    color: var(--white);
    line-height: 2rem;
    border-radius: 10px;
    margin: 5px;
    margin-bottom: 1rem;
}

#search-button:hover {
    cursor: pointer;
}

#weather-section {
    width: 75;
    height: 100%;
    margin: 1rem;
}

.hidden {
    display: none;
}

#city-weather {
    border: solid 1px var(--grey);
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

#city-weather-data-a {
    padding: 10px 20px;
}

#city-weather-data-b {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: initial;
    margin-top: -25px;
    font-weight: bolder;
    font-size: 1.5rem;
}

#city-weather-image {
    width: 150px;
    height: 150px;
}

#five-day-pull {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.weather-card {
    margin: 1rem;
    background: var(--dark-blue);
    color: var(--white);
    padding: 1em;
    border-radius: 20px;
}

#recent-searches {
    border-top: solid var(--grey);
    width: 95%;
    color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-right: 1.5rem;
}

#recent-searches button {
    width: 100%;
    line-height: 2rem;
    margin: .5em;
    
}